In [2]:
# ejecuto solo 1 vez al inicio

# para cada estrategia creamos un df vacio para almacenar los resultados, y lo almacenaremos en pickle
df_out = pd.DataFrame(columns=['date', 'open', 'high', 'low', 'close', 'in_condition_1','in_condition_2', 'out_condition_1', 'out_condition_2', 'signal_in', 'signal_out', 
'pos_before_order', 'order_sent', 'open_pos', 'filled_price', 'pnl'])

df_out.to_pickle('df_out_1.pkl')
df_out.to_pickle('df_out_2.pkl')
df_out.to_pickle('df_out_3.pkl')
df_out.to_pickle('df_out_4.pkl')
df_out.to_pickle('df_out_5.pkl')
df_out.to_pickle('df_out_6.pkl')
df_out.to_pickle('df_out_7.pkl')
df_out.to_pickle('df_out_8.pkl')
df_out.to_pickle('df_out_9.pkl')
df_out.to_pickle('df_out_10.pkl')
df_out.to_pickle('df_out_11.pkl')
df_out.to_pickle('df_out_12.pkl')
df_out.to_pickle('df_out_13.pkl')
df_out.to_pickle('df_out_14.pkl')
df_out.to_pickle('df_out_15.pkl')
df_out.to_pickle('df_out_16.pkl')
df_out.to_pickle('df_out_17.pkl')
df_out.to_pickle('df_out_18.pkl')
df_out.to_pickle('df_out_19.pkl')
df_out.to_pickle('df_out_20.pkl')
df_out.to_pickle('df_out_21.pkl')
df_out.to_pickle('df_out_22.pkl')
#df_out.to_pickle('df_out_31.pkl')

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
from ib_insync import *
import time

import warnings
warnings.filterwarnings("ignore")

In [2]:
# podemos monitorizar los datos recibidos
df_data = pd.read_pickle('df_data_2.pkl')
#df_data.tail(20)
display(df_data)

,date,open,high,low,close,two_bars_up,sma_12,sma_60,atr_14,in_condition_1,in_condition_2,out_condition_1,out_condition_2,signal_in,signal_out
0,2022-05-25 00:00:00,110.390,110.680,110.135,110.520,False,110.520000,110.520000,NaN,False,False,False,False,0,0
1,2022-05-25 01:00:00,110.520,110.930,110.495,110.595,True,110.557500,110.557500,NaN,True,True,False,False,1,0
2,2022-05-25 02:00:00,110.595,110.620,110.300,110.465,False,110.526667,110.526667,NaN,False,False,True,False,0,-1
3,2022-05-25 03:00:00,110.465,111.040,110.290,111.005,False,110.646250,110.646250,NaN,False,True,False,False,0,0
4,2022-05-25 04:00:00,111.005,111.160,110.730,111.020,True,110.721000,110.721000,NaN,True,True,False,False,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,2022-05-27 19:00:00,114.545,114.865,114.245,114.750,True,114.121667,112.338250,0.723214,True,True,False,False,1,0
66,2022-05-27 20:00:00,114.750,115.295,114.545,114.895,True,114.210417,112.401333,0.763929,True,True,False,False,1,0
67,2022-05-27 21:00:00,114.895,115.195,114.825,115.170,True,114.289167,112.476250,0.759643,True,True,False,False,1,0
68,2022-05-27 22:00:00,115.170,115.220,114.985,115.060,False,114.347917,112.546750,0.750000,False,True,False,False,0,0
69,2022-05-27 23:00:00,114.615,114.615,114.615,114.615,False,114.370000,112.609833,0.728571,False,True,False,False,0,0

In [15]:
# leemos todos los df_out
df_out_1 = pd.read_pickle('df_out_1.pkl')
df_out_2 = pd.read_pickle('df_out_2.pkl')
df_out_3 = pd.read_pickle('df_out_3.pkl')
df_out_4 = pd.read_pickle('df_out_4.pkl')
df_out_5 = pd.read_pickle('df_out_5.pkl')
df_out_6 = pd.read_pickle('df_out_6.pkl')
df_out_7 = pd.read_pickle('df_out_7.pkl')
df_out_8 = pd.read_pickle('df_out_8.pkl')
df_out_9 = pd.read_pickle('df_out_9.pkl')
df_out_10 = pd.read_pickle('df_out_10.pkl')
df_out_11 = pd.read_pickle('df_out_11.pkl')
df_out_12 = pd.read_pickle('df_out_12.pkl')
df_out_13 = pd.read_pickle('df_out_13.pkl')
df_out_14 = pd.read_pickle('df_out_14.pkl')
df_out_15 = pd.read_pickle('df_out_15.pkl')
df_out_16 = pd.read_pickle('df_out_16.pkl')
df_out_17 = pd.read_pickle('df_out_17.pkl')
df_out_18 = pd.read_pickle('df_out_18.pkl')
df_out_19 = pd.read_pickle('df_out_19.pkl')
df_out_20 = pd.read_pickle('df_out_20.pkl')
df_out_21 = pd.read_pickle('df_out_21.pkl')
df_out_22 = pd.read_pickle('df_out_22.pkl')

In [16]:
df_pos = pd.DataFrame(np.zeros((22,1)), columns=['open_pos'])
df_pos['open_pos'] = False

# comenzamos el indice en 1
df_pos.index = df_pos.index + 1

In [17]:
# leemos las ultimas posiciones de cada estrategia
df_pos.loc[1, 'open_pos'] = df_out_1.loc[df_out_1.index[-1], 'open_pos']
df_pos.loc[2, 'open_pos'] = df_out_2.loc[df_out_2.index[-1], 'open_pos']
df_pos.loc[3, 'open_pos'] = df_out_3.loc[df_out_3.index[-1], 'open_pos']
df_pos.loc[4, 'open_pos'] = df_out_4.loc[df_out_4.index[-1], 'open_pos']
df_pos.loc[5, 'open_pos'] = df_out_5.loc[df_out_5.index[-1], 'open_pos']
df_pos.loc[6, 'open_pos'] = df_out_6.loc[df_out_6.index[-1], 'open_pos']
df_pos.loc[7, 'open_pos'] = df_out_7.loc[df_out_7.index[-1], 'open_pos']
df_pos.loc[8, 'open_pos'] = df_out_8.loc[df_out_8.index[-1], 'open_pos']
df_pos.loc[9, 'open_pos'] = df_out_9.loc[df_out_9.index[-1], 'open_pos']
df_pos.loc[10, 'open_pos'] = df_out_10.loc[df_out_10.index[-1], 'open_pos']
df_pos.loc[11, 'open_pos'] = df_out_11.loc[df_out_11.index[-1], 'open_pos']
df_pos.loc[12, 'open_pos'] = df_out_12.loc[df_out_12.index[-1], 'open_pos']
df_pos.loc[13, 'open_pos'] = df_out_13.loc[df_out_13.index[-1], 'open_pos']
df_pos.loc[14, 'open_pos'] = df_out_14.loc[df_out_14.index[-1], 'open_pos']
df_pos.loc[15, 'open_pos'] = df_out_15.loc[df_out_15.index[-1], 'open_pos']
df_pos.loc[16, 'open_pos'] = df_out_16.loc[df_out_16.index[-1], 'open_pos']
df_pos.loc[17, 'open_pos'] = df_out_17.loc[df_out_17.index[-1], 'open_pos']
df_pos.loc[18, 'open_pos'] = df_out_18.loc[df_out_18.index[-1], 'open_pos']
df_pos.loc[19, 'open_pos'] = df_out_19.loc[df_out_19.index[-1], 'open_pos']
df_pos.loc[20, 'open_pos'] = df_out_20.loc[df_out_20.index[-1], 'open_pos']
df_pos.loc[21, 'open_pos'] = df_out_21.loc[df_out_21.index[-1], 'open_pos']
df_pos.loc[22, 'open_pos'] = df_out_22.loc[df_out_22.index[-1], 'open_pos']


df_pos

    open_pos
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9       True
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False

In [12]:
# _______________________________________________________________________________________

# modificamos la columna open_pos de la ultima fila a False
df_out_9.loc[df_out_9.index[-1], 'open_pos'] = False

# y lo guardamos en pickle
df_out_9.to_pickle('df_out_9.pkl')
df_out_9.tail(5)

# _______________________________________________________________________________________

,date,open,high,low,close,in_condition_1,in_condition_2,out_condition_1,out_condition_2,signal_in,signal_out,pos_before_order,order_sent,open_pos,filled_price,pnl,atr_14,atr_200,min_12
3459,2022-05-26 14:45:00,1843.15,1843.25,1840.45,1841.1,False,False,False,False,0,0,8.0,none,True,0.0,-10598.72,3.021429,2.12800,1840.4
3460,2022-05-26 15:00:00,1841.10,1845.35,1841.05,1844.1,False,False,False,False,0,0,8.0,none,True,0.0,-10598.72,3.096429,2.14225,1840.4
3461,2022-05-26 15:15:00,1844.10,1845.05,1843.10,1843.4,False,False,False,False,0,0,8.0,none,True,0.0,-10598.72,3.057143,2.14000,1840.4
3462,2022-05-26 15:30:00,1843.40,1846.10,1839.15,1842.3,False,False,False,False,0,0,8.0,none,True,0.0,-10598.72,3.392857,2.16625,1840.4
3463,2022-05-26 15:45:00,0.00,0.00,0.00,0.0,False,False,False,True,0,-1,0,none,False,0.0,0,134.850000,11.37125,0.0

In [4]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_1.pkl')
display(df_out_1)
#df_out_1.tail(5)

Empty DataFrame
Columns: [date, open, high, low, close, in_condition_1, in_condition_2, out_condition_1, out_condition_2, signal_in, signal_out, pos_before_order, order_sent, open_pos, filled_price, pnl]
Index: []

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_2.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_3.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_4.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_5.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_6.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_7.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_8.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_9.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_10.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_11.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_12.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_13.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_14.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_15.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_16.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_17.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_18.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_19.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_20.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_21.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [ ]:
# podemos monitorizar los datos de salida
df_out_1 = pd.read_pickle('df_out_22.pkl')
#display(df_out_1)
df_out_1.tail(5)

In [56]:
# podemos conectarnos en el canal 0 para monitorizar el portfolio y los trades
ib = IB()
util.startLoop()
ib.connect('127.0.0.1', 7497, clientId=0)

In [57]:
df_pos = pd.DataFrame(ib.positions())
df_pos

,account,contract,position,avgCost
0,DU5317735,"Future(conId=139214022, symbol='NG', lastTrade...",2.0,63947.37
1,DU5317735,"Future(conId=238666255, symbol='GC', lastTrade...",2.0,193442.42
2,DU5317735,"Future(conId=477836957, symbol='ES', lastTrade...",4.0,224558.40
3,DU5317735,"Future(conId=477836974, symbol='NQ', lastTrade...",2.0,291462.15

In [58]:
df_portfolio = pd.DataFrame(ib.portfolio())
df_portfolio

,contract,position,marketPrice,marketValue,averageCost,unrealizedPNL,realizedPNL,account
0,"Future(conId=477836957, symbol='ES', lastTrade...",4.0,4496.750000,899350.00,224558.40,1116.40,991.40,DU5317735
1,"Future(conId=238666255, symbol='GC', lastTrade...",2.0,1933.400024,386680.00,193442.42,-204.84,-89.68,DU5317735
2,"Future(conId=139214022, symbol='NG', lastTrade...",2.0,6.377000,127540.00,63947.37,-354.74,6421.56,DU5317735
3,"Future(conId=477836974, symbol='NQ', lastTrade...",2.0,14550.502930,582020.12,291462.15,-904.18,2449.20,DU5317735

In [59]:
df_trades = pd.DataFrame(ib.trades())
df_trades

,contract,order,orderStatus,fills,log
0,"{'secType': 'FUT', 'conId': 477836974, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 477836974, 'symb...","[{'time': 2022-04-07 22:00:06+00:00, 'status':..."
1,"{'secType': 'FUT', 'conId': 497954495, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 497954495, 'symb...","[{'time': 2022-04-07 22:00:06+00:00, 'status':..."
2,"{'secType': 'FUT', 'conId': 477836957, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 477836957, 'symb...","[{'time': 2022-04-07 22:10:00+00:00, 'status':..."
3,"{'secType': 'FUT', 'conId': 477836957, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 477836957, 'symb...","[{'time': 2022-04-07 22:00:06+00:00, 'status':..."
4,"{'secType': 'FUT', 'conId': 238666255, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 238666255, 'symb...","[{'time': 2022-04-07 22:30:01+00:00, 'status':..."
5,"{'secType': 'FUT', 'conId': 497954495, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 497954495, 'symb...","[{'time': 2022-04-07 22:10:01+00:00, 'status':..."
6,"{'secType': 'FUT', 'conId': 497954495, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 497954495, 'symb...","[{'time': 2022-04-07 23:00:03+00:00, 'status':..."
7,"{'secType': 'FUT', 'conId': 238666255, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 238666255, 'symb...","[{'time': 2022-04-07 22:30:01+00:00, 'status':..."
8,"{'secType': 'FUT', 'conId': 477836974, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 477836974, 'symb...","[{'time': 2022-04-07 23:55:05+00:00, 'status':..."
9,"{'secType': 'FUT', 'conId': 139214022, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 139214022, 'symb...","[{'time': 2022-04-07 23:00:06+00:00, 'status':..."
10,"{'secType': 'FUT', 'conId': 477836974, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 477836974, 'symb...","[{'time': 2022-04-08 00:00:00+00:00, 'status':..."
11,"{'secType': 'FUT', 'conId': 256019305, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 256019305, 'symb...","[{'time': 2022-04-08 00:00:00+00:00, 'status':..."
12,"{'secType': 'FUT', 'conId': 477836974, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 477836974, 'symb...","[{'time': 2022-04-08 00:20:01+00:00, 'status':..."
13,"{'secType': 'FUT', 'conId': 139214022, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 139214022, 'symb...","[{'time': 2022-04-08 00:00:01+00:00, 'status':..."
14,"{'secType': 'FUT', 'conId': 497954495, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 497954495, 'symb...","[{'time': 2022-04-08 00:25:01+00:00, 'status':..."
15,"{'secType': 'FUT', 'conId': 256019305, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 256019305, 'symb...","[{'time': 2022-04-07 22:00:05+00:00, 'status':..."
16,"{'secType': 'FUT', 'conId': 477836974, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 477836974, 'symb...","[{'time': 2022-04-07 22:00:05+00:00, 'status':..."
17,"{'secType': 'FUT', 'conId': 238666255, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 238666255, 'symb...","[{'time': 2022-04-07 22:00:05+00:00, 'status':..."
18,"{'secType': 'FUT', 'conId': 139214022, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 139214022, 'symb...","[{'time': 2022-04-07 22:00:06+00:00, 'status':..."
19,"{'secType': 'FUT', 'conId': 139214022, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 139214022, 'symb...","[{'time': 2022-04-07 22:00:06+00:00, 'status':..."
20,"{'secType': 'FUT', 'conId': 139214022, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 139214022, 'symb...","[{'time': 2022-04-07 22:00:06+00:00, 'status':..."
21,"{'secType': 'FUT', 'conId': 497954495, 'symbol...","{'orderId': 0, 'clientId': 0, 'permId': 178268...","{'orderId': 0, 'status': 'Filled', 'filled': 0...","[({'secType': 'FUT', 'conId': 497954495, 'symb...","[{'time': 2022-04-07 22:00:06+00:00, 'status':..."

In [60]:
df_opentrades = pd.DataFrame(ib.openTrades())
df_opentrades

Empty DataFrame
Columns: []
Index: []

In [61]:
df_fills = pd.DataFrame(ib.fills())
df_fills

,contract,execution,commissionReport,time
0,"Future(conId=256019305, symbol='CL', lastTrade...","Execution(execId='0000e1a7.624f5ca7.01.01', ti...",CommissionReport(execId='0000e1a7.624f5ca7.01....,2022-04-07 22:00:05+00:00
1,"Future(conId=238666255, symbol='GC', lastTrade...","Execution(execId='0000e1a7.624f5ca8.01.01', ti...",CommissionReport(execId='0000e1a7.624f5ca8.01....,2022-04-07 22:00:05+00:00
2,"Future(conId=477836974, symbol='NQ', lastTrade...","Execution(execId='0000e1a7.624f5caa.01.01', ti...",CommissionReport(execId='0000e1a7.624f5caa.01....,2022-04-07 22:00:05+00:00
3,"Future(conId=139214022, symbol='NG', lastTrade...","Execution(execId='0000e1a7.624f5cab.01.01', ti...",CommissionReport(execId='0000e1a7.624f5cab.01....,2022-04-07 22:00:06+00:00
4,"Future(conId=497954495, symbol='YM', lastTrade...","Execution(execId='0000e1a7.624f5cac.01.01', ti...",CommissionReport(execId='0000e1a7.624f5cac.01....,2022-04-07 22:00:06+00:00
5,"Future(conId=139214022, symbol='NG', lastTrade...","Execution(execId='0000e1a7.624f5cad.01.01', ti...",CommissionReport(execId='0000e1a7.624f5cad.01....,2022-04-07 22:00:06+00:00
6,"Future(conId=139214022, symbol='NG', lastTrade...","Execution(execId='0000e1a7.624f5cae.01.01', ti...",CommissionReport(execId='0000e1a7.624f5cae.01....,2022-04-07 22:00:06+00:00
7,"Future(conId=497954495, symbol='YM', lastTrade...","Execution(execId='0000e1a7.624f5caf.01.01', ti...",CommissionReport(execId='0000e1a7.624f5caf.01....,2022-04-07 22:00:06+00:00
8,"Future(conId=497954495, symbol='YM', lastTrade...","Execution(execId='0000e1a7.624f5cb0.01.01', ti...",CommissionReport(execId='0000e1a7.624f5cb0.01....,2022-04-07 22:00:06+00:00
9,"Future(conId=477836974, symbol='NQ', lastTrade...","Execution(execId='0000e1a7.624f5cb1.01.01', ti...",CommissionReport(execId='0000e1a7.624f5cb1.01....,2022-04-07 22:00:06+00:00
10,"Future(conId=477836974, symbol='NQ', lastTrade...","Execution(execId='0000e1a7.624f5cb2.01.01', ti...",CommissionReport(execId='0000e1a7.624f5cb2.01....,2022-04-07 22:00:06+00:00
11,"Future(conId=477836957, symbol='ES', lastTrade...","Execution(execId='0000e1a7.624f5cb3.01.01', ti...",CommissionReport(execId='0000e1a7.624f5cb3.01....,2022-04-07 22:00:06+00:00
12,"Future(conId=139214022, symbol='NG', lastTrade...","Execution(execId='0000e1a7.624f5cb4.01.01', ti...",CommissionReport(execId='0000e1a7.624f5cb4.01....,2022-04-07 22:00:07+00:00
13,"Future(conId=477836957, symbol='ES', lastTrade...","Execution(execId='0000e1a7.624f5d68.01.01', ti...",CommissionReport(execId='0000e1a7.624f5d68.01....,2022-04-07 22:10:00+00:00
14,"Future(conId=497954495, symbol='YM', lastTrade...","Execution(execId='0000e1a7.624f5d6b.01.01', ti...",CommissionReport(execId='0000e1a7.624f5d6b.01....,2022-04-07 22:10:01+00:00
15,"Future(conId=238666255, symbol='GC', lastTrade...","Execution(execId='0000e1a7.624f5e8b.01.01', ti...",CommissionReport(execId='0000e1a7.624f5e8b.01....,2022-04-07 22:30:01+00:00
16,"Future(conId=238666255, symbol='GC', lastTrade...","Execution(execId='0000e1a7.624f5e8c.01.01', ti...",CommissionReport(execId='0000e1a7.624f5e8c.01....,2022-04-07 22:30:01+00:00
17,"Future(conId=238666255, symbol='GC', lastTrade...","Execution(execId='0000e1a7.624f5e8d.01.01', ti...",CommissionReport(execId='0000e1a7.624f5e8d.01....,2022-04-07 22:30:01+00:00
18,"Future(conId=497954495, symbol='YM', lastTrade...","Execution(execId='0000e1a7.624f6083.01.01', ti...",CommissionReport(execId='0000e1a7.624f6083.01....,2022-04-07 23:00:03+00:00
19,"Future(conId=139214022, symbol='NG', lastTrade...","Execution(execId='0000e1a7.624f6088.01.01', ti...",CommissionReport(execId='0000e1a7.624f6088.01....,2022-04-07 23:00:06+00:00
20,"Future(conId=477836974, symbol='NQ', lastTrade...","Execution(execId='0000e1a7.624f62be.01.01', ti...",CommissionReport(execId='0000e1a7.624f62be.01....,2022-04-07 23:55:05+00:00
21,"Future(conId=477836974, symbol='NQ', lastTrade...","Execution(execId='0000e1a7.624f62bf.01.01', ti...",CommissionReport(execId='0000e1a7.624f62bf.01....,2022-04-07 23:55:05+00:00
22,"Future(conId=256019305, symbol='CL', lastTrade...","Execution(execId='0000e1a7.624f62e5.01.01', ti...",CommissionReport(execId='0000e1a7.624f62e5.01....,2022-04-08 00:00:00+00:00
23,"Future(conId=256019305, symbol='CL', lastTrade...","Execution(execId='0000e1a7.624f62e6.01.01', ti...",CommissionReport(execId='0000e1a7.624f62e6.01....,2022-04-08 00:00:00+00:00
24,"Future(conId=477836974, symbol='NQ', lastTrade...","Execution(execId='0000e1a7.624f62e7.01.01', ti...",CommissionReport(execId='0000e1a7.624f62e7.01....,2022-04-08 00:00:00+00:00
25,"Future(conId=139214022, symbol='NG', lastTrade...","Execution(execId='0000e1a7.624f62ed.01.01', ti...",CommissionReport(execId='0000e1a7.624f62ed.01....,2022-04-08 00:00:01+00:00
26,"Future(conId=139214022, symbol='NG', lastTrade...","Execution(execId='0000e1a7.624f62f1.01.01', ti...",CommissionReport(execId='0000e1a7.624f62f1.01....,2022-04-08 00:00:02+00:00
27,"Future(conId=477836974, symbol='NQ', lastTrade...","Execution(execId='0000e1a7.624f63ec.01.01', ti...",CommissionReport(execId='0000e1a7.624f63ec.01....,2022-04-08 00:20:01+00:00
28,"Future(conId=477836974, symbol='NQ', lastTrade...","Execution(execId='0000e1a7.624f63ed.01.01', ti...",CommissionReport(execId='0000e1a7.624f63ed.01....,2022-04-08 00:20:02+00:00
29,"Future(conId=497954495, symbol='YM', lastTrade...","Execution(execId='0000e1a7.624f6459.01.01', ti...",CommissionReport(execId='0000e1a7.624f6459.01....,2022-04-08 00:25:01+00:00
30,"Future(conId=497954495, symbol='YM', lastTrade...","Execution(execId='0000e1a7.624f645a.01.01', ti...",CommissionReport(execId='0000e1a7.624f645a.01....,2022-04-08 00:25:01+00:00

In [42]:
df_accountSummary = pd.DataFrame(ib.accountSummary())
df_accountSummary

      account                    tag       value currency modelCode
0   DU5317735            AccountType  INDIVIDUAL
1   DU5317735                Cushion    0.770955
2   DU5317735     DayTradesRemaining          -1
3   DU5317735  DayTradesRemainingT+1          -1
4   DU5317735  DayTradesRemainingT+2          -1
..        ...                    ...         ...      ...       ...
70        All           WarrantValue        0.00     BASE
71        All          FxCashBalance        0.00     BASE
72        All         AccountOrGroup         All     BASE
73        All           RealCurrency        BASE     BASE
74        All      IssuerOptionValue        0.00     BASE

[75 rows x 5 columns]

In [43]:
df_commissionReportEvent = pd.DataFrame(ib.commissionReportEvent())
df_commissionReportEvent

Empty DataFrame
Columns: []
Index: []

In [62]:
df_executions = pd.DataFrame(ib.executions())
df_executions

,execId,time,acctNumber,exchange,side,shares,price,permId,clientId,orderId,liquidation,cumQty,avgPrice,orderRef,evRule,evMultiplier,modelCode,lastLiquidity
0,0000e1a7.624f5ca7.01.01,2022-04-07 22:00:05+00:00,DU5317735,NYMEX,SLD,2.0,97.140,1782685529,3,43,0,2.0,97.1400,,,0.0,,1
1,0000e1a7.624f5ca8.01.01,2022-04-07 22:00:05+00:00,DU5317735,NYMEX,SLD,2.0,1934.000,1782685530,10,43,0,2.0,1934.0000,,,0.0,,1
2,0000e1a7.624f5caa.01.01,2022-04-07 22:00:05+00:00,DU5317735,GLOBEX,SLD,2.0,14535.500,1782685531,15,32,0,2.0,14535.5000,,,0.0,,1
3,0000e1a7.624f5cab.01.01,2022-04-07 22:00:06+00:00,DU5317735,NYMEX,SLD,1.0,6.412,1782685532,14,21,0,1.0,6.4120,,,0.0,,1
4,0000e1a7.624f5cac.01.01,2022-04-07 22:00:06+00:00,DU5317735,ECBOT,SLD,2.0,34480.000,1782685534,22,42,0,2.0,34480.0000,,,0.0,,1
5,0000e1a7.624f5cad.01.01,2022-04-07 22:00:06+00:00,DU5317735,NYMEX,SLD,2.0,6.411,1782685533,13,25,0,2.0,6.4110,,,0.0,,1
6,0000e1a7.624f5cae.01.01,2022-04-07 22:00:06+00:00,DU5317735,NYMEX,SLD,2.0,6.411,1782685535,11,42,0,2.0,6.4110,,,0.0,,1
7,0000e1a7.624f5caf.01.01,2022-04-07 22:00:06+00:00,DU5317735,ECBOT,SLD,1.0,34480.000,1782685536,20,69,0,1.0,34480.0000,,,0.0,,1
8,0000e1a7.624f5cb0.01.01,2022-04-07 22:00:06+00:00,DU5317735,ECBOT,SLD,1.0,34480.000,1782685536,20,69,0,2.0,34480.0000,,,0.0,,1
9,0000e1a7.624f5cb1.01.01,2022-04-07 22:00:06+00:00,DU5317735,GLOBEX,SLD,1.0,14535.250,1782685537,18,34,0,1.0,14535.2500,,,0.0,,1
10,0000e1a7.624f5cb2.01.01,2022-04-07 22:00:06+00:00,DU5317735,GLOBEX,SLD,1.0,14520.750,1782685537,18,34,0,2.0,14528.0000,,,0.0,,1
11,0000e1a7.624f5cb3.01.01,2022-04-07 22:00:06+00:00,DU5317735,GLOBEX,SLD,2.0,4495.000,1782685538,4,37,0,2.0,4495.0000,,,0.0,,1
12,0000e1a7.624f5cb4.01.01,2022-04-07 22:00:07+00:00,DU5317735,NYMEX,SLD,1.0,6.411,1782685532,14,21,0,2.0,6.4115,,,0.0,,1
13,0000e1a7.624f5d68.01.01,2022-04-07 22:10:00+00:00,DU5317735,GLOBEX,BOT,2.0,4497.250,1782685539,6,71,0,2.0,4497.2500,,,0.0,,1
14,0000e1a7.624f5d6b.01.01,2022-04-07 22:10:01+00:00,DU5317735,ECBOT,BOT,2.0,34491.000,1782685540,20,70,0,2.0,34491.0000,,,0.0,,1
15,0000e1a7.624f5e8b.01.01,2022-04-07 22:30:01+00:00,DU5317735,NYMEX,BOT,2.0,1934.400,1782685541,9,49,0,2.0,1934.4000,,,0.0,,1
16,0000e1a7.624f5e8c.01.01,2022-04-07 22:30:01+00:00,DU5317735,NYMEX,BOT,1.0,1934.400,1782685542,10,44,0,1.0,1934.4000,,,0.0,,1
17,0000e1a7.624f5e8d.01.01,2022-04-07 22:30:01+00:00,DU5317735,NYMEX,BOT,1.0,1934.400,1782685542,10,44,0,2.0,1934.4000,,,0.0,,1
18,0000e1a7.624f6083.01.01,2022-04-07 23:00:03+00:00,DU5317735,ECBOT,BOT,2.0,34494.000,1782685543,22,43,0,2.0,34494.0000,,,0.0,,1
19,0000e1a7.624f6088.01.01,2022-04-07 23:00:06+00:00,DU5317735,NYMEX,BOT,2.0,6.385,1782685544,14,22,0,2.0,6.3850,,,0.0,,1
20,0000e1a7.624f62be.01.01,2022-04-07 23:55:05+00:00,DU5317735,GLOBEX,BOT,1.0,14571.250,1782685545,17,90,0,1.0,14571.2500,,,0.0,,1
21,0000e1a7.624f62bf.01.01,2022-04-07 23:55:05+00:00,DU5317735,GLOBEX,BOT,1.0,14585.750,1782685545,17,90,0,2.0,14578.5000,,,0.0,,1
22,0000e1a7.624f62e5.01.01,2022-04-08 00:00:00+00:00,DU5317735,NYMEX,BOT,1.0,97.010,1782685546,3,44,0,1.0,97.0100,,,0.0,,1
23,0000e1a7.624f62e6.01.01,2022-04-08 00:00:00+00:00,DU5317735,NYMEX,BOT,1.0,97.010,1782685546,3,44,0,2.0,97.0100,,,0.0,,1
24,0000e1a7.624f62e7.01.01,2022-04-08 00:00:00+00:00,DU5317735,GLOBEX,BOT,2.0,14567.500,1782685547,18,35,0,2.0,14567.5000,,,0.0,,1
25,0000e1a7.624f62ed.01.01,2022-04-08 00:00:01+00:00,DU5317735,NYMEX,BOT,1.0,6.394,1782685548,13,26,0,1.0,6.3940,,,0.0,,1
26,0000e1a7.624f62f1.01.01,2022-04-08 00:00:02+00:00,DU5317735,NYMEX,BOT,1.0,6.395,1782685548,13,26,0,2.0,6.3945,,,0.0,,1
27,0000e1a7.624f63ec.01.01,2022-04-08 00:20:01+00:00,DU5317735,GLOBEX,SLD,1.0,14549.000,1782685549,17,91,0,1.0,14549.0000,,,0.0,,1
28,0000e1a7.624f63ed.01.01,2022-04-08 00:20:02+00:00,DU5317735,GLOBEX,SLD,1.0,14534.500,1782685549,17,91,0,2.0,14541.7500,,,0.0,,1
29,0000e1a7.624f6459.01.01,2022-04-08 00:25:01+00:00,DU5317735,ECBOT,SLD,1.0,34479.000,1782685550,20,71,0,1.0,34479.0000,,,0.0,,1
30,0000e1a7.624f645a.01.01,2022-04-08 00:25:01+00:00,DU5317735,ECBOT,SLD,1.0,34479.000,1782685550,20,71,0,2.0,34479.0000,,,0.0,,1

In [63]:
def is_port_in_use(port):
    import socket
    with socket.socket(socket.AF_INET, socket.SOCK_STREAM) as s:
        return s.connect_ex(('localhost', port)) == 0

In [66]:
is_port_in_use(1)

False

In [67]:
clientId 0 already in use?

Object `use` not found.

Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Peer closed connection.

In [ ]:
clientId 0 already in use

In [55]:
ib.isConnected

In [ ]:
ib.disconnect